<!--<div id="content">
  &lt;!&ndash;普通数据绑定{{}}&ndash;&gt;
  <p>
    {{text1}}
  </p>
  <hr>
  <div>
    {{text2}}
  </div>

  &lt;!&ndash;html内容绑定：
    [innerHTML]="变量"&ndash;&gt;
  <hr>
  <div [innerHTML]="text2"></div>

  &lt;!&ndash;实现属性绑定的方法：
  1：属性名="{{属性变量}}"
  2：[属性名]="属性变量"&ndash;&gt;
  <hr>
  <p title="{{text3}}">
    欢迎来到Angular5!!!!!!!!!!
  </p>

  <hr>
  <p [title]="text3">
    欢迎来到Angular5的世界
  </p>
  <hr>
  <p [style.color]="isRed?'red':'yellow'">
    Jeffrey!!
  </p>

  <hr>
  <p [style.color]="isRed?'red':'yellow'"
  [style.font-size.px]="fontS?100:50">
      Jeffrey!!
  </p>


  <hr>
  <p class="style" class="{{custom}}">
    JeffreyLImaojia
  </p>

  <hr>
  <p [ngClass]="allClass" class="{{custom}}">
    JeffreyLImaojia
  </p>


</div>-->

<div id = "content">

  <p *ngIf="arr.length == 0">
    无学员信息！
  </p>


  <ul>
    <li *ngFor="let item of arr; let i = index">
      {{i}}---{{item.name}}---{{item.age}}
    </li>
  </ul>
</div>
