#content{
  height: 500px;
  background-color: cornflowerblue;
}
.style1{
  font-size: 100px;
  text-align: center;
  color: blueviolet;
}
.style{
  font-weight: bold;
}
.all{
  font-size: 50px;
  color: red;
}
